{% extends 'index.html' %}
    {% block nav %}
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'return' %}"><i class="fa fa-arrow-left" style="font-size: 1.5rem;"></i></a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Edit&nbsp;<i class="fa fa-pencil"></i>&nbsp;</a></div>
        </div>
    </nav>
    {% endblock %}

    {% block main %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 col-sm-12">
                    <p>Created: {{object.made}}</p>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <p style="text-align: right;">Due:{% if object.due %}{{object.due}}{% else %}None{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: center;">Memo</h3>
                    <p style="text-align: center;">{{object.memo}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex col-lg-6 col-sm-6 col-md-6"><a class="btn btn-light action-button" role="button" id="complete" href="{% url 'complete' object.id %}" style="border-radius: 15px;"><i class="fa fa-check"></i>&nbsp;</a></div>
                <div class="col-md-12 d-flex col-lg-6 col-sm-6 col-md-6" style="justify-content: flex-end;"><a class="btn btn-light action-button" role="button" id="delete" href="{% url 'delete' object.id %}" style="border-radius: 15px;"><i class="fa fa-trash"></i>&nbsp;</a></div>
            </div>
        </div>
    </div>
    {% endblock %}